.image {
  height: 400px;
}

.GarageLink {
  color: black;
  font-size: 12px;
  background-color: transparent;
}

.GarageLink i {
  color: #176117;
  background-color: transparent;
  cursor: pointer;
}

.animation1 {
  animation-timing-function: ease-in-out;
  animation: bounceIn 2s ease-in-out;
}

a {
  color: #176117;
  text-decoration: none;
}

.Login {
  color: black;
  background-color: transparent;
  cursor: pointer;
}

.Login i {
  color: #176117;
  background-color: transparent;
  cursor: pointer;
}
